html, * {
    margin: 0;
    padding: 0;
}

header{
    background-color: #283618;
    color: #fefae0;
    padding: 20px
}

nav  a {
    color: #dda15e;
    margin: 8px;
}
main {
    margin-top: 100px;
}